.new-user__actions button {
  margin-top: 0.5rem;
  text-align: right;
}

.new-user__actions button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4f008b;
  color: white;
  background: #4f008b;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.new-user__actions button:focus {
  outline: none;
}

.new-user__actions button:hover,
.new-user__actions button:active {
  background: #4f008b;
  border-color: #4f008b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .new-user button {
    width: auto;
  }
}
